<%- include('header'); -%>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% for(let i=0;i<addTask.length;i++) { %>
  <div class="item">
    <input type="checkbox">
    <p><%= addTask[i] %></p>
  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="newTask" placeholder="Add new task" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle %>>+</button>
  </form>
  <%- include('footer'); -%>
